<div id="first">
  <div id="second" class="container">
    <h2>Meus Filmes</h2>

    <label for="new-filme-lab">Nome do filme: </label>
    <input class="form-control" id="new-filme-input" #filmeName />
    <br>
    <label for="new-filme-rat">Rating: </label>
    <input class="form-control" id="new-filme-inp-rat" #filmeRating />
    <br>
    <button 
      class="add-button btn btn-secondary" 
      (click)="add(filmeName.value, filmeRating.value); filmeName.value=''; filmeRating.value=''">
      Adicionar Filme
    </button>
    <br>
    <br>   

    <ul class="filmes list-group">
      <li 
        id="lista"
        class="list-group-item list-group-item-action" 
        *ngFor="let filme of filmes"
        routerLink="/filmes/{{filme.id}}"  
        routerLinkActive="active"
      >  
        <span class="badge badge-pill badge-primary">{{filme.id}}</span> {{filme.nomeDoFilme}}
        <div id="spacer"></div>
        <button id="deleter" class="delete btn btn-danger" title="delete filme"
        (click)="delete(filme)">x</button>
      </li>
    </ul>
  </div>  
</div>



